@charset "utf-8";
// reset common.css 에만
@import "reset";
// 페이지 공통 common
@import "parts/common";

body {
	font-family: $nnrSquare; 
	line-height: 1.3; 
	letter-spacing: -0.3px; 
	color: #000;
}
img {
	max-width: 100%;
}
figcaption {
	width: 100%;
}

/*-bxSlider 재정의-*/
.bx-wrapper,
.bx-wrapper .bx-viewport {
	position: relative !important;
	margin: 0 auto !important;
	border: none !important;
	box-shadow: none !important;
	background: none !important;
}
.bx-controls {
	display: none !important;
}
/*.bx-wrapper .bx-controls-direction {
	position: absolute;
	width: 100%;
	width: 100%;
	left: 0;
	top: 50%;
	margin-top: -22.5px;
}

.bx-wrapper .bx-controls-direction a {
	display: block;
}

.bx-wrapper .bx-controls-direction a {
	background: none;
	width: 45px;
	height: 45px;
	top: 0;
	margin-top: 0;
	z-index: 1;
}

.bx-wrapper .bx-prev {
	left: 20px;
}

.bx-wrapper .bx-next {
	right: 20px;
}

.bx-wrapper .bx-controls-direction,
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto,
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
	display: none;
}*/

/*무료숙박권FAQ 재정의*/
$faq-color: #0086cd !important;
.faqWrap {
	&, * {
		font-family: $nnrSquare;
	}
	.korescoChiak {
		border-color: $faq-color;
		h2 {
			background: $faq-color;
		}
	}
	.ul1 {
		height: 413px !important; // Q. 목록 하나 제거 높이
	}
}

/*----------------------------------------------------------------------*/
// 주의 
// 예약페이지에서 가지고 오는 스타일이 .contents 에 영향을 받기 때문에 글로벌클래스로 스타일 주지않기
// 예약페이지에서도 가지고오는 콘텐츠를 제외한 해더와 푸터는 별도로 다시 letter-spacing, line-height, font-family를 잡아준다
%headerFooter {
	font-size: 16px;
	letter-spacing: -0.3px;
	line-height: 1.3;
	font-family: $nnrSquare;
}
/*전체 wrapper*/
.wrapper {
	min-width: 1000px;
}

.contents {
	position: relative;
	margin: 0 auto;
	min-height: 500px;
}
.group {
	position: relative;
	@extend %centerThis;
	@extend %clearfix;
}
.row {
	position: relative;
	display: block;
	@extend %clearfix;
}
hr.division {
	border: 0;
	border-top: 1px solid #c5c5c5;
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
.fw-b {
	font-weight: 700 !important;
}
.fw-eb {
	font-weight: 800 !important;
}
.fz-12 {
	font-size: 12px !important;
}
.fz-13 {
	font-size: 13px !important;
}
.fz-14 {
	font-size: 14px !important;
}
.fz-16 {
	font-size: 16px !important;
}
.fz-18 {
	font-size: 18px !important;
}
.fz-20 {
	font-size: 18px !important;
}

.appe-reset {
	font-family: $nnrSquare;
}
.area {
	position: relative;
}
input[type=password] {
	font-family: $nnGothic;
	@include reset-box-model;
}

/*----------------------------------------------------------------------*/
/*공통 서브비쥬얼*/
.contents {
	.cont-subVisual {
		margin-bottom: 20px;
		padding-top: 70px;
		box-sizing: border-box;
		color: #fff;
		height: 166px;
		background: url(http://design.autopay.co.kr/joon/koresco-chiak/common/subVisual.jpg) no-repeat center;	
		h2 {
			letter-spacing: -0.7px;
			.row > * {
				@extend %va-middle;
			}
			.dot-l {
				width: 3px;
				height: 32px;
				margin-right: 12px;
				background: #fff;
			}
			strong {
				font-size: 34px;
				font-weight: 700;
			}
			.s-1 {
				font-size: 14px;
				padding-left: 17px;
			}
		}
	}
}
/*해더영역*/
.header {
	@extend %headerFooter;
	position: absolute;
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 86px;
	border-bottom: 1px solid #cecece;
	z-index: 99;
	.cont-header {
		padding-top: 35px;
		.logo {
			float: left;
			margin-top: -20px;
		}
		.gnb {
			position: relative;
			float: right;
			.menu {
				> li {
					position: relative;
					float: left;
					&.fst {
						&:before {
							display: none;
						}
						> a {
							padding-left: 0;
						}
					}
					> a {
						display: block;
						padding: 0 15px;
						font-size: 19px;
					}
					&.lst {
						margin-right: 20px;
					}
					&.li-evt {
						margin-left: 10px;
						margin-top: -5px;
						> .btn-evt {
							padding: 5px 7px;
							display: inline-block;
							font-size: 15px;
							color: #316ab2;
							border: 1px solid #316ab2;
						}
					}
					&:hover a {
						color: $fg-blue-1;
					}
				}
			}
		}
	}
}

/*푸터영역*/
.footer {
	@extend %headerFooter;
	margin-top: 30px;
	padding: 55px 0px;
	position: relative;
	background: #ededed;
	position: relative;
	.split {
		position: relative;
		float: left;
		letter-spacing: -0.7px;
		&.left {
			width: 540px;
			.privacyBtn {
				position: relative;
				top: 2px;
				display: inline-block;
				margin: 0px 2px;
				font-size: 14px;
				background: #fff;
				padding: 0 10px;
				line-height: 2;
			}
			.logo-f {
				display: inline-block;
				margin-right: 15px;
			}
			.address {
				margin-top: 20px;
				font-size: 15px;
				line-height: $lh-2;
				.s-1 {
					color: $fg-red-1;
					margin-right: 5px;
				}
				.mt {
					margin-top: 5px;
				}
			}
			small {
				display: block;
				font-size: 14px;
				text-transform: uppercase;
				font-size: inherit;
			}
			
		}
		&.right {
			float: right;
			width: 460px;
			box-sizing: border-box;
			padding-left: 60px;
			.row {
				line-height: $lh-2;
				.s-1 {
					color: $fg-red-1;
					margin-right: 5px;
				}
				& + .row {
					margin-top: 15px;

				}
			}
		}
	}
}

/*이용약관 및 개인정보처리방침*/
.layer-pop-bg {
	position: fixed;
	z-index: 200;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(http://img.go.co.kr/black_rgba58.png) repeat;
}
.privacy-bg {
	display: none;
	.cm-s {
		display: none;
		position: absolute;
		width: 748px;
		height: 828px;
		position: absolute;
		top: 50%;
		margin-top: -414px;
		left: 50%;
		margin-left: -374px;
		background: #fff;
		.d-top {
			height: 50px;
			background: #955454;
			color: #FFF;
			font-size: 18px;
			strong {
				display: inline-block;
				position: relative;
				top: 12px;
				left: 15px;
			}
			.a-x {
				position: absolute;
				display: inline-block;
				height: 50px;
				width: 50px;
				right: 0px;
				top: 0;
				&:before {
					background: #fff;
					width: 30px;
					height: 1px;
					left: 8px;
					top: 24px;
				}
				&:after {
					background: #fff;
					width: 30px;
					height: 1px;
					left: 8px;
					top: 24px;
				}
			}
		}
		.d-cont {
			height: 778px;
			overflow: auto;
			padding: 15px 12px 15px 15px;
			font-size: 14px;
			line-height: 1.5;
			word-break: keep-all;
			box-sizing: border-box;
			.title {
				display: block;
				margin-top: 10px;
				&:first-child {
					margin-top: 0;
				}
			}
		}
		.tablepri {
			border: 1px solid #000;
			width: auto;
			line-height: 1.5em;
			margin-top: 10px;
			letter-spacing: -0.2px;
			th {
				padding: 0 5px;
			}
			td {
				padding: 0 5px;
			}
		}
		.privacy {
			font-weight: bold;
		}
	}
}
