@charset "utf-8";

// common
@import "../parts/common";

.footer {
	margin-top: 30px;
}
.cred-2 {
	color: #cf0000;
}
.cred-3 {
	color: #c41919;
}
.cblue-2 {
	color: #0012ff;
}
%btn-type {
	position: relative;
	display: inline-block;
	background: $bg-pink-1;
	color: #fff;
	font-size: 13px;
	text-align: center;
	padding: 0px 15px;
	line-height: 3;
	& .ic-rArrow::after {
		border-color: #fff;
		width: 5px;
		height: 5px;
		top: -1px;
		margin-right: -3px;
		margin-left: 3px;
	}
}

/* 공통요소 */
.sec {
	position: relative;
	box-sizing: border-box;
	width: 94%;
	margin: 0 auto;
	padding: 20px 0;
	border-top: 1px solid #dedede;
}
.sec:after {
	content: "";
	display: block;
	clear: both;
	*zoom: 1;
}
.groupSec {
	position: relative;
	box-sizing: border-box;
	.centerThis {
		margin: 0 auto;
	}
	.br-t {
		border-top: 1px solid #dedede;
	}
	.h3-tit {
		font-size: 17px;
		line-height: 20px;
		color: $fg-blue-2;
		text-align: center;
		font-weight: 400;
		+ {
			.p0 {
				margin-top: 3px;
				font-size: 12px;
				text-align: center;
				color: $fg-blue-3;
			}
		}
	}
	.h4-sub-tit {
		margin: 3% auto 0;
		font-size: 12.5px;
		font-weight: 400;
		line-height: 20px;
		text-align: center;
		color: #545454;
	}
	.row-btn {
		> a {
			@extend %btn-type;
		}
	}
}

/* aside wing */
.rWing {
	position: fixed;
	z-index: 9;
	right: 5px;
	bottom: 31px;
	img {
		display: block;
		width: 75px;
		margin-bottom: 1px;
	}
}

/* intro */
.Group {
	.sec.intro-sec {
		text-align: center;
		border-top: 0;
	}
	.intro-sec {
		.br-t {
			margin-top: 12px;
		}
		.d-map {
			position: relative;
			box-sizing: border-box;
			display: block;
			width: 100%;
			height: 100%;
			margin: 12px auto;
			img {
				position: relative;
				width: 100%;
				@include img-bor;
			}
		}
		p {
			display: block;
			font-size: 13px;
			letter-spacing: -0.5px;
			line-height: 19px;
			word-break: keep-all;
		}
		.p-1 {
			position: relative;
			box-sizing: border-box;
			display: block;
			strong {
				display: block;
				margin-bottom: 6px;
				font-size: 18px;
				font-weight: 400;
				color: $fg-blue-2;
			}
			.s-row {
				color: $fg-blue-3;
				line-height: $lh-3;
			}
		}
		.p-2 {
			position: relative;
			box-sizing: border-box;
			display: block;
			color: #474646;
		}
		.p-3 {
			color: $fg-pink-1;
		}
		.division {
			margin: 12px 0;
		}
		.txt_wr {
			position: relative;
			box-sizing: border-box;
			display: block;
			padding: 16px 0 14px;
		}
		.row-btn {
			position: relative;
			margin-top: 12px;
			> a {
				display: block;
			}
		}
	}
}


/* 객실안내 */
.Group {
	.sec.room-sec {
		border-top: 0;
		padding-top: 0;
	}
	.room-sec {
		.ul-list {
			position: relative;
			.li-item {
				position: relative;
				box-sizing: border-box;
				display: block;
				width: 100%;
				margin-top: 21px;
				figure {
					position: relative;
					img {
						position: relative;
						width: 100%;
						@include img-bor;
					}
				}
				>div {
					position: relative;
				}
				.d-row-1 {
					margin-top: 10px;
					.s-name {
						font-size: 12px;
						line-height: 12px;
						color: #545454;
						.d-row {
							margin-top: 5px;
							font-size: 12px;
						}
					}
					.a-btn {
						position: absolute;
						right: 0;
						top: 0;
						@extend %btn-type;
						font-size: 12px;
						line-height: 2.5;
						.ic-rArrow {
							display: none;
						}
					}
				}
			}
		}
	}
}



/* 부대시설 및 주변관광지 안내 */
/* 호텔 소개 내 주변관광지 안내 */
.facil-sec {
	.ul-list {
		position: relative;
		box-sizing: border-box;
		width: 100%;
		margin-top: 4px;
		text-align: center;
		font-size: 0;
		.li-item {
			position: relative;
			box-sizing: border-box;
			display: inline-block;
			margin-top: 8px;
			figure {
				position: relative;
				>img {
					position: relative;
					width: 100%;
					height: 100%;
					box-sizing: border-box;
					border: 1px solid $bor-gray-1;
				}
				>figcaption {
					display: block;
					box-sizing: border-box;
					position: absolute;
					width: 100%;
					bottom: 0px;
					left: 0;
					padding: 6px 4px 5px 0;
					font-size: 10px;
					line-height: 11px;
					text-align: right;
					color: #fff;
					background: rgba(0,0,0, .5);
					filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#50000000,endColorstr=#50000000);
					.f-sm {
						display: block;
						margin-top: 2px;
						font-size: 10px;
					}
				}
			}
		}
	}
	.ul-list-2 {
		margin: 0 auto;
		.li-item {
			position: relative;
			display: inline-block;
			margin-top: 8px;
			width: 100%;
			background: #000;
			background: rgba(0,0,0, .7);
			figure {
				position: relative;
				img {
					width: 100%;
				}
				figcaption {
					box-sizing: border-box;
					width: 100%;
					padding: 7px 10px 8px 10px;
					text-align: center;
					letter-spacing: -0.7px;
					font-size: 12px;
					line-height: 1.3;
					color: #fff;
					display: block;
					position: absolute;
					bottom: 0;
					left: 0;
					background: #000;
					background: rgba(0,0,0, .7);
				}
			}
			.li-txt {
				box-sizing: border-box;
				width: 100%;
				padding: 7px 10px 8px 10px;
				text-align: center;
				letter-spacing: -0.7px;
				font-size: 12px;
				line-height: 1.3;
				color: #fff;
				display: table;
				word-break: keep-all;
				span {
					display: table-cell;
					vertical-align: middle;
				}
			}
		}
	}
	&.base .ul-list .li-item {
		width: 33.33%;
		&:nth-child(3n-1) {
			padding: 0 2.5px 0;
		}
		&:nth-child(3n-2) {
			padding-right: 5px;
		}
		&:nth-child(3n) {
			padding-left: 5px;
		}
	}
	.row-btn {
		margin-top: 15px;
		> a {
			display: block;
		}
	}
}
.tour-sec {
	.ul-list {
		.li-item {
			width: 50%;
			&:nth-child(2n-1) {
				padding-right: 5px;
			}
			&:nth-child(2n) {
				padding-left: 5px;
			}
		}
		
	}
}
.Intro {
	.tour-sec {
		margin-top: -2.6%;
	}
}

/* 단체예약 Q&A */
.Group {
	.sec.qna-sec {
		width: 100%;
		background: #f4f4f4;
		padding-bottom: 10px;
		border-top: 0;
	}
	.qna-list {
		width: 100%;
		margin: 7px auto 0;
		>li {
			position: relative;
			letter-spacing: -0.5px;
			>div {
				position: relative;
				line-height: $lh-2;
				word-break: keep-all;
			}
			.f-q {
				position: relative;
				padding: 8px 50px 8px 40px;
				font-size: 13px;
				border-bottom: 1px solid #ccc;
				>* {
					display: inline-block;
				}
				.q-con {
					position: absolute;
					left: 13px;
					font-weight: 700;
				}
				.arr {
					position: absolute;
					right: 19px;
					top: 7px;
					&:after {
						top: -2px;
						border-color: #bbb;
						border-width: 1px;
						width: 8px;
						height: 8px;
					}
				}
			}
			.f-a {
				background: #fff;
				height: 0;
				padding: 0;
				overflow: hidden;
				font-size: 12px;
				line-height: $lh-2;
				word-break: keep-all;
			}
		}
		>li.on {
			.f-q {
				color: $fg-pink-1;
				font-weight: 700;
				.arr {
					&:after {
						top: 4px;
						border-color: $fg-pink-1;
						-webkit-transform: rotate(135deg);
						-ms-transform: rotate(135deg);
						-o-transform: rotate(135deg);
						transform: rotate(135deg);
					}
				}
			}
			.f-a {
				padding: 13px 19px;
				height: auto;
				border-bottom: 1px solid #ccc;
			}
		}
		li.last.on {
			.f-a {
				border-bottom: 0;
			}
		}
	}
}


/* 예약 form */
.Group {
	.show-xs {
		display: none;
	}
	input {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		-ms-appearance: none;
		-o-appearance: none;
		border-radius: 0;
		box-sizing: border-box;
		height: 28px;
		vertical-align: middle;
		border: 1px solid #787878;
		font-size: 12px;
	}
	select {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		-ms-appearance: none;
		-o-appearance: none;
		border-radius: 0;
		box-sizing: border-box;
		height: 28px;
		vertical-align: middle;
		border: 1px solid #787878;
		font-size: 12px;
		outline: none;
		overflow: hidden;
		text-indent: 5px;
		text-overflow: '';
		background: url(http://img.ramadapt.co.kr/group/i_dArr.png) no-repeat 105px 8px;
		&::-ms-expand {
			display: none;
		}
	}
	.wd-8 {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		-ms-appearance: none;
		-o-appearance: none;
		border-radius: 0;
	}
	.sec.form-sec {
		border-top: 0;
		color: #545454;
	}
	.form-sec {
		.d-cm {
			position: relative;
			margin-top: 5px;
			text-align: center;
			line-height: 1.3;
			> p {
				word-break: keep-all;
			}
			.p-0 {
				font-size: 15px;
				color: $fg-blue-2;
			}
			.p-1 {
				font-size: 11px;
				margin-top: 3px;
				line-height: $lh-2;
				color: $fg-blue-3;
			}
			.p-2 {
				font-size: 12px;
				margin-top: 3px;
				line-height: $lh-2;
				color: $fg-pink-1;
			}
		}
		.row-btn {
			margin-top: 13px;
			> a {
				display: block;
			}
		}
	}
	.contact-pop {
		position: relative;
		width: 100%;
		top: 0;
		left: auto;
		background: #fff;
		font-size: 14px;
		text-align: left;
		z-index: 100;
		width: 100%;
		margin-top: 10px;
		.d-top {
			position: relative;
			text-align: right;
			font-size: 12px;
			padding: 0 5px;
		}
		.i-chk-bef {
			&:before {
				content: "*";
				display: inline-block;
				color: #f00;
				position: relative;
				top: -1px;
				font-weight: 700;
				margin-right: 2px;
				vertical-align: middle;
			}
		}
		.i-chk-aft {
			&:after {
				content: "*";
				display: inline-block;
				color: #f00;
				position: relative;
				top: -1px;
				font-weight: 700;
				margin-right: 2px;
				vertical-align: middle;
				margin-right: 0;
				margin-left: 2px;
				top: -1px;
			}
		}
		.a-x {
			top: 7px;
			right: 8px;
			z-index: 1;
			&:before {
				right: 9px;
				background: #787878;
			}
			&:after {
				right: 9px;
				background: #787878;
			}
		}
		.ul-tb {
			position: relative;
			width: 100%;
			.li-tr {
				.p-1 {
					margin-left: 64px;
					word-break: keep-all;
					color: $fg-pink-2;
				}
			}
		}
		.nece {
			border-bottom: 1px solid #dadada;
		}
		.li-tr {
			position: relative;
			padding: 6px 0px;
			font-size: 0;
			border-top: 1px solid #dadada;
			letter-spacing: -1px;
			&:first-child {
				border-top: 0;
			}
			>span {
				position: relative;
				display: inline-block;
				font-size: 12px;
				vertical-align: middle;
			}
			>span.ver-t {
				vertical-align: top;
				top: 10px;
			}
			.mg- {
				width: 7px;
				height: 1px;
				background: #787878;
				margin: 0 5px;
			}
			.mg-l {
				width: 1px;
				height: 20px;
				background: #a0a0a0;
				margin: 0 5px 0 0px;
				top: 2px;
			}
			hr {
				display: block;
				width: 100%;
				height: 1px;
				margin: 6px auto;
				background: #dadada;
				border: 0;
			}
			.s-lbl {
				width: 58px;
				margin-left: 5px;
			}
			input, select {
				font-size: 12px;
			}
			.wd-1 {
				text-indent: 3px;
				width: 130px;
			}
			.wd-3 {
				text-indent: 3px;
				width: 210px;
			}
			.wd-4 {
				text-indent: 3px;
				width: 100px;
				+ {
					select {
						top: 0px;
						position: relative;
						margin-left: 5px;
					}
				}
			}
			.wd-7 {
				text-indent: 3px;
				width: 100px;
				margin-right: 5px;
			}
			.wd-2 {
				text-align: center;
				width: 58.5px;
			}
			.wd-5 {
				text-align: center;
				margin-left: 5px;
				width: 33px;
				margin-right: 1px;
				+ {
					span {
						margin-right: 4px;
					}
				}
			}
			.wd-6 {
				text-align: center;
				margin-left: 2px;
				margin-right: 2px;
				width: 33px;
			}
			.wd-8 {
				width: 228px;
				height: 60px;
				padding: 3px;
				font-size: 12px;
				resize: none;
				border: 1px solid #787878;
			}
		}
	}
}

/* contact */
.Group {
	.sec.etc-sec {
		width: 100%;
		padding-bottom: 0;
	}
	.etc-sec {
		.d-cm {
			position: relative;
			margin-top: 5px;
			padding: 0 12px;
			text-align: center;
			line-height: $lh-3;
			word-break: keep-all;
			letter-spacing: -0.5px;
			.p-0 {
				font-size: 14px;
				color: $fg-pink-2;
			}
			.p-1 {
				font-size: 10.5px;
				line-height: $lh-2;
				margin-top: 4px;
			}
			.area-btn02 {
				margin-top: 7px;
				.a-btn {
					display: inline;
					font-size: 17px;
					color: $fg-pink-2;
					background: 0;
					cursor: default;
					line-height: $lh-2;
					>.txt {
						position: relative;
						top: -3px;
						color: #333;
						font-size: 12px;
						font-weight: 400;
					}
				}
				.pic-call {
					position: relative;
					display: inline-block;
					width: 20px;
					height: 20px;
					background: url(http://design.autopay.co.kr/joon/koresco-chiak/img/group/ico_call.png) no-repeat center;
					background-size: 20px auto;
					vertical-align: middle;
					top: -2px;
					left: 0;
				}
			}
			.area-txt {
				font-size: 22px;
				color: #474646;
			}
			.p-2 {
				height: 15px;
				font-size: 15px;
				line-height: 15px;
				font-weight: 400;
				vertical-align: middle;
				margin-top: 4px;
				color: $fg-pink-2;
				.pic-sms {
					width: 20px;
					vertical-align: middle;
					margin-right: 5px;
				}
			}
		}
	}
}


/*예약팝업*/
.group-popup {
	z-index: 9999;
	display: none;
	position: fixed;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	.popup-wrap {
		position: relative;
		max-width: 310px;
		margin: 0 auto;
		top: 50%;
		margin-top: -150px;
	}
	.popup-container {
		position: relative;
		box-sizing: border-box;
		padding: 10px;
		text-align: center;
		border: 1px solid #c5c5c5;
		background: #fff;
		word-break: keep-all;
		.fc-yellow {
			color: #efab1a;
		}
		.popup-cust {
			padding: 5px 0 14px;
			border-bottom: 1px solid #c5c5c5;
			p {
				font-size: 17px;
				line-height: $lh-1;
				letter-spacing: -1px;
				color: #131313;
			}
			.f-bd {
				span {
					font-size: 15px;
					line-height: $lh-1;
					font-weight: bold;
				}
			}
			.popup-txt {
				font-size: 13px;
			}
			.popup-txt.pd-tb {
				padding: 6px 0;
			}
		}
		.info-txt {
			padding: 15px 0;
			font-size: 12px;
			line-height: $lh-1;
			color: #707070;
		}
		.btn-close {
			display: inline-block;
			width: 200px;
			font-size: 15px;
			line-height: 3;
			font-weight: bold;
			color: #fff;
			background: #f75c07;
		}
	}
}
