@charset "utf-8";

// common
@import "../common";

.contents {
	padding-bottom: 50px;
}

.cred-2 {
	color: #cf0000;
}
.cred-3 {
	color: #c41919;
}
.cblue-2 {
	color: #0012ff;
}

%btn-type {
	position: relative;
	display: inline-block;
	background: #7eaace;
	color: #fff;
	font-size: 16px;
	padding: 0px 18px;
	line-height: 2.3;
}

/*공통요소*/
.sec {
	position: relative;
	box-sizing: border-box;
	width: 1000px;
	margin: 0 auto;
	padding: 25px 0;
}
.sec:after {
	content: "";
	display: block;
	clear: both;
	*zoom: 1;
}
.groupSec {
	position: relative;
	box-sizing: border-box;
	padding-top: 15px;
	.br-t {
		border-top: 1px solid #dedede;
	}
	.h3-tit {
		font-size: 32px;
		line-height: 28px;
		color: $fg-blue-2;
		text-align: center;
		font-weight: 400;
		letter-spacing: 0;
		+ .p0 {
			margin-top: 10px;
			font-size: 22px;
			text-align: center;
			color: $fg-blue-3;
		}
	}
	.h4-sub-tit {
		margin: 32px auto 0;
		font-size: 20px;
		font-weight: 400;
		line-height: 20px;
		text-align: center;
		color: #545454;
	}
}

/* aside wing */
.rWing {
	position: fixed;
	top: 315px;
	z-index: 9;
	left: 50%;
	margin-left: 530px;
	img {
		display: block;
		margin-bottom: 1px;
	}
}

/* intro */
.Group {
	.sec.intro-sec {
		padding: 20px 0 30px;
		border-top: 0;
	}
	.intro-sec {
		.split {
			position: relative;
			float: left;
			box-sizing: border-box;
			&.left {
				width: 424px;
				padding-top: 3px;
				.p-1 {
					font-size: 22px;
					strong {
						display: block;
						font-size: 32px;
						font-weight: 400;
						color: $fg-blue-2;
						letter-spacing: -0.5px;
					}
					.row {
						font-size: 22px;
						color: $fg-blue-3;
						margin-top: 20px;
					}
				}
				.p-2, .p-3 {
					margin-top: 15px;
					color: $fg-black-2;
					line-height: $lh-2;
				}
				.p-3 {
					color: $fg-pink-1;
				}
				.row-btn {
					margin-top: 20px;
					>a {
						@extend %btn-type;
						line-height: 2.8;
						padding: 0 25px;
						background: $bg-pink-1;
						&:after {
							content: "";
							display: inline-block;
							height: 105%;
							vertical-align: middle;
						}
						.ic-rArrow {
							&:after {
								border-color: #fff;
								width: 9px;
								height: 9px;
								top: -1px;
								margin-right: -3px;
							}
						}
					}
				}
				
			}
			&.right {
				float: right;
				width: 576px;
				.d-map {
					text-align: right;
					img {
						box-sizing: border-box;
						border: 1px solid $bor-gray-1;
					}
				}
			}
		}
	}
}
.ie8 {
	.Group {
		.intro-sec {
			.p-2 {
				letter-spacing: -1px;
			}
		}
	}
}

/*객실안내*/
.Group {
	.room-sec {
		.ul-list {
			position: relative;
			.li-item {
				position: relative;
				float: left;
				box-sizing: border-box;
				display: block;
				width: 50%;
				margin-top: 27px;
				>div {
					position: relative;
				}
				figure {
					position: relative;
					img {
						position: relative;
						width: 100%;
						border: 1px solid #d1d1d1;
					}
				}
				.d-row-1 {
					margin-top: 15px;
					.s-name {
						font-size: 18px;
						line-height: 18px;
						color: #545454;
						.d-row {
							margin-top: 8px;
							font-size: 16px;
						}
					}
					.a-btn {
						z-index: 2;
						position: absolute;
						right: 0;
						top: 0;
						@extend %btn-type;
						letter-spacing: -0.5px;
						line-height: 44px;
						padding: 0 23px;
						.ic-rArrow {
							margin-left: 3px;
							margin-right: -3px;
							&::after {
								border-color: #fff;
							}
						}
					}
				}
			}
			.nth-1 {
				padding-right: 15px;
			}
			.nth-3 {
				padding-right: 15px;
			}
			.nth-2 {
				padding-left: 15px;
			}
			.nth-4 {
				padding-left: 15px;
			}
		}
	}
}
/* 부대시설 및 주변관광지 안내 */
.facil-sec {
	.ul-list {
		margin-top: 5px;
		text-align: center;
		.li-item {
			position: relative;
			display: block;
			float: left;
			width: 234px;
			height: 234px;
			margin: 21px 21px 0 0;
			figure {
				position: relative;
				>img {
					position: relative;
					width: 100%;
					height: 100%;
					box-sizing: border-box;
					border: 1px solid $bor-gray-1;
				}
				>figcaption {
					display: block;
					box-sizing: border-box;
					position: absolute;
					width: 100%;
					bottom: 0;
					left: 0;
					padding: 9px 11px 10px 0;
					font-size: 16px;
					line-height: 16px;
					text-align: right;
					color: #fff;
					background: rgba(0,0,0, .5);
					filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#50000000,endColorstr=#50000000);
					.f-sm {
						display: block;
						margin-top: 4px;
						font-size: 14px;
					}
				}
			}
		}
		.nth-4 {
			margin-right: 0;
		}
		.nth-8 {
			margin-right: 0;
		}
	}
}
.tour-sec {
	.ul-list {
		margin-top: 0;
		.li-item {
			margin-top: 15px;
		}
	}
}

/* 호텔 소개 내 주변관광지 안내 */
.Intro {
	.tour-sec {
		.ul-list {
			margin-top: -20px;
			.li-item {
				width: 33.33%;
				margin-right: auto;
				padding-left: 20px;
				box-sizing: border-box;
			}
			.clr {
				+ {
					.li-item {
						padding-left: 0;
					}
				}
			}
		}
	}
}


/* 단체예약 Q&A */
.Group {
	.sec.qna-sec {
		padding-bottom: 70px;
		background: #f4f4f4;
		width: 100%;
		margin-top: 50px;
		padding-top: 50px;
	}
	.qna-list {
		width: 850px;
		margin: 30px auto 0;
		>li {
			position: relative;
			letter-spacing: -0.5px;
			>div {
				position: relative;
				line-height: $lh-1;
				word-break: keep-all;
				font-size: 18px;
			}
			.f-q {
				padding: 12px 50px 12px 50px;
				border-bottom: 1px solid #ccc;
				font-size: 20px;
				>* {
					display: inline-block;
				}
				.q-con {
					position: absolute;
					left: 18px;
				}
				.arr {
					position: absolute;
					right: 16px;
					top: 10px;
					&:after {
						top: -2px;
						border-color: #bbb;
						border-width: 2px;
						width: 12px;
						height: 12px;
					}
				}
			}
			.f-a {
				background: #fff;
				height: 0;
				padding: 0;
				overflow: hidden;
				line-height: $lh-2;
				word-break: keep-all;
			}
		}
		>li.on {
			.f-q {
				color: $fg-pink-1;
				.arr {
					&:after {
						top: 7px;
						border-color: $fg-pink-1;
						-webkit-transform: rotate(135deg);
						-ms-transform: rotate(135deg);
						-o-transform: rotate(135deg);
						transform: rotate(135deg);
					}
				}
			}
			.f-a {
				padding: 30px 40px 28px;
				height: auto;
				border-bottom: 1px solid #ccc;
			}
		}
		li.last.on {
			.f-a {
				border-bottom: 0;
			}
		}
	}
}
.ie8 {
	.Group {
		.qna-list {
			>li {
				.f-q {
					.arr {
						&:after {
							content: '▼';
							top: 0;
							border: 0;
						}
					}
				}
			}
			>li.on {
				.f-q {
					.arr {
						&:after {
							content: '▲';
							top: 1px;
						}
					}
				}
			}
		}
	}
}


/* 예약 form */
.Group {
	.show-xs {
		display: none;
	}
	input {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		-ms-appearance: none;
		-o-appearance: none;
		border-radius: 0;
		box-sizing: border-box;
		height: 30px;
		vertical-align: middle;
		border: 1px solid #787878;
		font-size: 14px;
	}
	select {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		-ms-appearance: none;
		-o-appearance: none;
		border-radius: 0;
		box-sizing: border-box;
		height: 30px;
		vertical-align: middle;
		border: 1px solid #787878;
		font-size: 14px;
		outline: none;
		overflow: hidden;
		text-indent: 5px;
		text-overflow: '';
		background: url(http://img.ramadapt.co.kr/group/i_dArr.png) no-repeat 174px 10px;
		&::-ms-expand {
			display: none;
		}
	}
	.wd-8 {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		-ms-appearance: none;
		-o-appearance: none;
		border-radius: 0;
	}
	.sec.form-sec {
		border-top: 0;
		color: #545454;
	}
	.form-sec {
		.d-cm {
			position: relative;
			margin-top: 14px;
			text-align: center;
			line-height: 1.3;
			.p-0 {
				font-size: 28px;
				color: $fg-blue-2;
			}
			.p-1 {
				font-size: 20px;
				margin-top: 13px;
				line-height: $lh-1;
				color: $fg-blue-3;
			}
			.p-2 {
				font-size: 16px;
				margin-top: 5px;
				line-height: $lh-1;
				color: $fg-pink-1;
			}
			.row-btn {
				font-size: 20px;
				margin-top: 30px;
				.a-btn {
					@extend %btn-type;
					font-size: 18px;
					line-height: 3.2;
					padding: 0 120px;
					background: $bg-pink-1;
					&:after {
						content: "";
						display: inline-block;
						height: 105%;
						vertical-align: middle;
					}
					.ic-rArrow {
						&:after {
							border-color: #fff;
							width: 10px;
							height: 10px;
							top: -1px;
							left: 2px;
							margin-right: -15px;
						}
					}
				}
			}
		}
		.contact-pop {
			position: relative;
			width: 685px;
			top: 0;
			left: auto;
			margin: 0 auto;
			text-align: left;
		}
		.d-top {
			position: relative;
			width: 100%;
			margin: 20px auto 5px;
			color: #676767;
			height: auto;
			line-height: 31px;
			font-size: 14px;
			text-align: right;
			letter-spacing: -1px;
		}
		.i-chk-bef {
			&:before {
				content: "*";
				display: inline-block;
				color: #f00;
				position: relative;
				top: -1px;
				font-weight: 700;
				margin-right: 2px;
				vertical-align: middle;
			}
		}
		.ul-tb {
			position: relative;
			margin: 0 auto;
			.li-tr {
				position: relative;
				padding: 10px 20px;
				font-size: 0;
				border-bottom: 1px solid #dadada;
				letter-spacing: -0.5px;
				.p-1 {
					color: $fg-pink-2;
				}
				span {
					position: relative;
					display: inline-block;
					font-size: 16px;
					font-weight: 400;
					vertical-align: middle;
				}
				.s-lbl {
					width: 74px;
					margin-left: 20px;
					&:first-child {
						margin-left: 0;
					}
				}
				.ml-1 {
					margin-left: 40px;
				}
				.i-chk-aft {
					&:before {
						font-size: 14px;
					}
				}
				.mg- {
					width: 10px;
					height: 1px;
					background: #787878;
					margin: 0 6px;
				}
				.mg-l {
					width: 1px;
					height: 26px;
					background: #a0a0a0;
					margin: 0 18px 0 2px;
					top: 1px;
				}
				.p-1 {
					font-size: 16px;
					margin-left: 70px;
					word-break: keep-all;
				}
				.wd-1 {
					text-indent: 5px;
					width: 200px;
				}
				.wd-3 {
					text-indent: 5px;
					width: 365px;
				}
				.wd-4 {
					text-indent: 5px;
					width: 200px;
					+ {
						select {
							top: 0px;
							position: relative;
							margin-left: 14px;
						}
					}
				}
				.wd-7 {
					text-indent: 5px;
					width: 204px;
					margin-right: 8px;
				}
				.wd-2 {
					text-align: center;
					width: 70px;
				}
				.wd-5 {
					text-align: center;
					margin-left: 12px;
					width: 58px;
					+ {
						span {
							margin-left: 8px;
							margin-right: 20px;
						}
					}
				}
				.wd-6 {
					text-align: center;
					margin-left: 12px;
					width: 64px;
					+ {
						span {
							margin-left: 8px;
							margin-right: 20px;
						}
					}
				}
				.wd-8 {
					box-sizing: border-box;
					width: 564px;
					height: 50px;
					padding: 3px;
					font-size: 12px;
					vertical-align: middle;
					resize: none;
					border: 1px solid #787878;
				}
			}
		}
		.ul-tb.nece {
			border-top: 1px solid #dadada;
		}
	}
	.etc-sec {
		.i-chk-aft {
			&:before {
				content: "*";
				display: inline-block;
				color: #f00;
				position: relative;
				top: -1px;
				font-weight: 700;
				margin-right: 2px;
				vertical-align: middle;
			}
		}
	}
}
.ie8 {
	.Group {
		select {
			background: none;
		}
	}
}

/* contact */
.Group {
	.sec.etc-sec {
		padding-bottom: 0;
	}
	.etc-sec {
		&::before {
			content: "";
			display: block;
			width: 100%;
			border-top: 1px solid $bor-gray-1;
			margin: 0px 0 50px;
		}
		.d-cm {
			position: relative;
			margin-top: 14px;
			text-align: center;
			line-height: $lh-3;
			.p-0 {
				font-size: 30px;
				color: $fg-pink-2;
			}
			.p-1 {
				font-size: 18px;
				line-height: $lh-1;
				margin-top: 10px;
			}
			.area-btn02 {
				margin-top: 20px;
				.a-btn {
					display: inline;
					font-size: 30px;
					color: $fg-pink-2;
					background: 0;
					cursor: default;
					line-height: $lh-1;
					>.txt {
						position: relative;
						top: -3px;
						color: #333;
						font-size: 21px;
						font-weight: 400;
					}
				}
				.pic-call {
					position: relative;
					display: inline-block;
					width: 40px;
					height: 40px;
					background: url(http://design.autopay.co.kr/joon/koresco-chiak/group/ico_call.png) no-repeat center;
					vertical-align: middle;
					top: -4px;
					left: 0;
				}
			}
			.area-txt {
				font-size: 22px;
				color: #474646;
			}
			.p-2 {
				height: 26px;
				font-size: 26px;
				line-height: 26px;
				font-weight: 400;
				vertical-align: middle;
				margin-top: 10px;
				color: $fg-pink-2;
				.pic-sms {
					vertical-align: middle;
					margin-right: 5px;
				}
			}
		}
	}
}

/*점수완료 레이어팝업*/
.group-popup {
	z-index: 9999;
	display: none;
	position: fixed;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	.popup-wrap {
		position: relative;
		max-width: 600px;
		margin: 0 auto;
		top: 50%;
		margin-top: -200px;
	}
	.popup-container {
		position: relative;
		box-sizing: border-box;
		padding: 25px 25px 35px;
		text-align: center;
		border: 1px solid #c5c5c5;
		background: #fff;
		.fc-yellow {
			color: #efab1a;
		}
		.popup-cust {
			padding: 5px 0 14px;
			border-bottom: 1px solid #c5c5c5;
			p {
				font-size: 24px;
				line-height: 35px;
				letter-spacing: -1px;
				color: #131313;
			}
			.f-bd {
				span {
					font-size: 24px;
					line-height: 35px;
					font-weight: bold;
				}
			}
			.popup-txt {
				font-size: 20px;
			}
			.popup-txt.pd-tb {
				padding: 6px 0;
			}
		}
		.info-txt {
			padding: 15px 0 19px;
			font-size: 16px;
			line-height: 23px;
			color: #707070;
		}
		.btn-close {
			display: inline-block;
			min-width: 200px;
			height: 50px;
			font-size: 18px;
			line-height: 50px;
			color: #fff;
			background: $fg-red-1;
		}
	}
}
