@@include('../include/_head.html', {
	"page": "about"
})

	<!--페이지 전용 Css & Script-->
	
</head>
<body class="About">

<div class="wrapper">
	@@include('../include/_header.html')

	<div class="contents">
		<div class="cont-subVisual">
			<h2 class="group">
				<span class="row"><span class="dot-l"></span><strong>콘도소개</strong></span>
				<span class="row s-1">KORESCO CHIAK CONDO &amp; RESORT</span>
			</h2>
		</div>
		<!--//.cont-subVisual-->
		
		<section class="cf cont-intro">
			<h3 class="group"><strong>코레스코치악 소개</strong> <span class="s-1"><span class="dot-l">ㅣ</span> OVERVIEW</span></h3>
			<div class="group intro-area">
				<div class="split left">
					<figure class="fullDiv"><img src="http://design.autopay.co.kr/joon/koresco-chiak/img/about/overview_1.jpg" alt="코레스코치악 전경사진"></figure>
					<figure class="half pr"><img src="http://design.autopay.co.kr/joon/koresco-chiak/img/about/overview_2.jpg" alt="프론트 사진"></figure>
					<figure class="half pl"><img src="http://design.autopay.co.kr/joon/koresco-chiak/img/about/overview_3.jpg" alt="룸 사진"></figure>
				</div>
				<div class="split right">
					<p class="p-1">
						치악산 국립공원 능선을 따라 펼쳐지는 <br>
						사계절 비경과 등산의 즐거움
					</p>
					<p class="p-2">
						서울에서 1시간 반이면 자연과 삶의 여유를 만날 수 있습니다. <br>
						코레스코 치악 콘도는 신비한 전설이 깃든 치악산 국립공원이 <br>
						10분 거리에 있고 고찰 구룡사와 900m의 계곡이 4계절 모두<br>
						아름답게 펼쳐집니다.<br>
						또한 근거리에 윌리힐리파크, 용평리조트, 용평스키장이 있어 <br>
						이용에 매우 편리합니다. <br>
						일상에서 벗어나 자연과 호흡하며 삶의 여유를 느껴보세요.
					</p>
					<p class="p-3">
						※ 시설규모<br>
						- 지하 1층 ~ 지상 11층 / 총 162개 객실<br>
						- 86m (26평) 5인실 - 140개 객실<br>
						- 129m (39평) 6인실 - 22개 객실
					</p>
					<p class="p-3">
						※ 부대시설<br>
						- 슈퍼마켓, 노래방, 한식당, 연회장, <br>
						- 세미나실, 대강당, 다목적 소운동장
					</p>
				</div>
			</div>
		</section>
		<!--//.cont-intro-->
		
		<section class="cf cont-location">
			<h3 class="group"><strong>오시는 길</strong> <span class="s-1"><span class="dot-l">ㅣ</span> ON THE WAY</span></h3>
			<figure class="group map"><img src="http://design.autopay.co.kr/joon/koresco-chiak/img/about/map.jpg" alt="위치 지도"></figure>
			<div class="group info">
				<h4 class="row">
					<strong>교통편 안내</strong><span class="s-1">승용차 이용시 - <span class="fg">'코레스코 치악'네비게이션 검색</span></span>
					<span class="pull-right link">
						<a href="http://naver.me/5Ehv18PI" target="_blank"><img src="http://design.autopay.co.kr/joon/koresco-chiak/img/about/btn_mapNaver.jpg" alt="네이버지도보기"></a>
						<a href="http://dmaps.kr/dfw8m" target="_blank"><img src="http://design.autopay.co.kr/joon/koresco-chiak/img/about/btn_mapDaum.jpg" alt="다음지도보기"></a>
					</span>
				</h4>
				<p class="row p-1">
					<span class="s-h">▶기차이용</span>
					<span class="s-d">
						서울역 - KTX 횡성역 - .버덩말 버스정류장 승차 2-1 (오원) (조곡삼거리 방향) - 코레스코 정류장 하차
					</span>
				</p>
				<p class="row p-1">
					<span class="s-h">▶고속버스이용</span>
					<span class="s-d">
						동서울종합터미널 - 횡성시외버스터미널 - 만세공원(구축협) 정류장 승차 2-1 (오원) (횡성농협 방향) -  코레스코 정류장 하차
					</span>
				</p>
			</div>
		</section>
		<!--//.cont-location-->
	</div>
	<!--//.contents-->    

	@@include('../include/_footer.html') 
</div>

</body>
</html>