@charset "utf-8";

// common
@import "../common";

%cont-padding {
	padding: 20px 0;
}
%cont-h3 {
	font-size: 14px;
	color: #838383;
	border-bottom: 1px solid #cdcdcd;
	padding-bottom: 3px;
	margin-bottom: 18px;
	* {
		@extend %va-middle;
	}
	strong {
		font-size: 32px;
		color: $fg-blue-2;
		letter-spacing: 0;
	}
	.s-1 {
		position: relative;
		top: 4px;
		.dot-l {
			position: relative;
			width: 2px;
			height: 10px;
			top: -1px;
			text-indent: -9999px;
			background: #a9a9a9;
			background: #cbcbcb;
			margin: 0 10px;
		}
	}
}
.cont-intro {
	@extend %cont-padding;
	h3 {
		@extend %cont-h3;
	}
	.intro-area {
		.split {
			position: relative;
			float: left;
			&.left {
				width: 575px;
				figure {
					box-sizing: border-box;
					&.fullDiv {
						
					}
					&.half {
						float: left;
						width: 50%;
						margin-top: 16px;
						&.pr {
							padding-right: 8px;
						}
						&.pl {
							padding-left: 8px;
						}
					}
					img {
						box-sizing: border-box;
						border: 1px solid $bor-gray-1;
					}
				}
			}
			&.right {
				width: 425px;
				box-sizing: border-box;
				padding-left: 30px;
				p {
					font-size: 16px;
					line-height: $lh-1;
					color: $fg-black-2;
				}
				.p-1 {
					font-size: 22px;
					color: $fg-blue-2;
					line-height: $lh-3;
				}
				.p-2 {
					margin-top: 20px;
				}
				.p-3 {
					margin-top: 30px;
				}
			}
		}
	}
}
.cont-location {
	@extend %cont-padding;	
	h3 {
		@extend %cont-h3;
	}
	.info {
		h4 {
			position: relative;
			margin-top: 25px;
			font-size: 16px;
			> * {
				@extend %va-middle;	
			}
			strong {
				font-size: 22px;
				margin-right: 30px;
			}
			strong, .fg {
				color: $fg-blue-2;
			}
			.s-1 {
				position: relative;
				top: -1px;
			}
			.link {
				margin-top: -5px;
				letter-spacing: 10px;
			}
		}
		.p-1 {
			margin-top: 10px;
			line-height: $lh-1;
			> * {
				display: block;
			
			}
			.s-h {
				font-size: 20px;
				color: $fg-blue-2;
			}
			.s-d {
				font-size: 16px;
				padding-left: 18px;
			}
		}
	}
}