@charset "utf-8";

// common
@import "../parts/common";

// Scss 한줄 주석
// css 코드로 변경될 때, 해석되지 않습니다.
/* Scss 여러줄 주석 CSS 코드로 변경될 때, 해석됩니다. */

/*----------------
	콘텐츠 시작
------------------*/
%btn-type {
	position: relative;
	display: inline-block;
	background: $bg-blue-2;
	color: #fff;
	font-size: 12px;
	text-align: center;
	padding: 0px 15px;
	line-height: 2.6;
	& .rArrow::after {
		border-color: #fff;
		width: 5px;
		height: 5px;
		top: -1px;
		margin-right: -3px;
		margin-left: 3px;
	}
}
%cont-h3 {
	font-size: 11px;
	color: #838383;
	padding-top: 15px;
	margin-bottom: 5px;
	* {
		@extend %va-middle;
	}
	strong {
		font-size: 15px;
		color: $fg-blue-2;
		letter-spacing: 0;
	}
	.s-1 {
		position: relative;
		top: -1px;
		.dot-l {
			position: relative;
			width: 1px;
			height: 8px;
			top: -1px;
			text-indent: -9999px;
			background: #888;
			margin: 0 5px;
		}
	}
}
/*메인 비주얼*/
.cont-visual {
	.visual {
		width: 100%;
		.slide {
			width: 100%;
			height: 323px;	
			&.slide-1 {
				background: url(http://design.autopay.co.kr/joon/koresco-chiak/img/m/main/visual_1.jpg) no-repeat center / cover;
			}
			&.slide-2 {
				background: url(http://design.autopay.co.kr/joon/koresco-chiak/img/m/main/visual_2.jpg) no-repeat center / cover;
			}
			figure {
				position: relative;
				height: 100%;
				img {
					display: block;
				}
				.txt-box {
					text-shadow: 3px 3px 2px rgba(0,0,0, .25);
					display: block;
					color: #fff;
					text-align: center;
					position: absolute;
					margin-top: -63px;
					top: 50%; opacity: 0; visibility: hidden;
					-webkit-transition: all 1s 0.2s;
					-ms-transition: all 1s 0.2s;
					-o-transition: all 1s 0.2s;
					transition: all 1s 0.2s;
					.p-1 {
						font-size: 14px;
					}
					.p-2 {
						font-size: 27px;
					}
					.p-3 {
						font-size: 11px;
						margin-top: 8px;
					}
					.btn-non {
						display: inline-block;
						padding: 3px 8px;
						font-size: 11px;
						cursor: default;
						background: $bg-blue-1;
					}
					.row-btn {
						margin-top: 10px;
						.btn-booking {
							@extend %btn-type;
							background: #090909;
						}
					}
				}
			}
			&.active {
				.txt-box {
					margin-top: -69px;
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
} 
/*객실 / 부대시설 안내*/
.cont-guide {
	padding: 0px 0 20px;
	h3 {
		@extend %cont-h3;
	}
	.split {
		position: relative;
		box-sizing: border-box;
		&.split-1 {
			
		}
		&.split-2 {
			figure > img {
				position: relative;
				height: 100%;
				width: 100%;
				max-width: none;
			}
		}

		.half, .full {
			box-sizing: border-box;
			.btn-detail {
				@extend %btn-type;
				display: block;
				margin-top: 3px;
			}
			figure {
				position: relative;
				overflow: hidden;
				& + .row {
					margin-top: 5px;
				}
				img {
					box-sizing: border-box;
					border: 1px solid $bor-gray-1;
				}
			}
			dt, dd {
				display: inline-block;
			}
			dt {
				font-size: 13px;
				color: $fg-blue-2;
			}
			dd {
				font-size: 12px;
			}
		}
		.full {
			figure > img {
				width: 100%;
			}
		}
		.half {
			width: 50%;
			float: left;
			box-sizing: border-box;
			&.type-a {
				padding-right: 5px;
			}
			&.type-b {
				padding-left: 5px;
			}
		}
	}	
}