@charset "utf-8";
// --------------
// Scss변수
// --------------
// 폰트
$nnGothic: "Nanum Gothic", Dotum, Sans-serif;
$nnSquare: "Nanum Square", "NanumSquare", Dotum, Sans-serif;
$nnrSquare: "NanumSquareRound", Dotum, Sans-serif;
// 폰트 색상
$fg-red-1: #e82600;

$fg-pink-1: #cc4e87;
$fg-pink-2: #e773a8;

$fg-blue-1: #0041e7;
$fg-blue-2: #004885;
$fg-blue-3: #005eae;
$fg-blue-4: #416b8e;

$fg-black-1: #000;
$fg-black-2: #5a5959;
$fg-black-3: #838383;

$fg-white-1: #fff;

// 배경 색상
$bg-blue-1: #0061b4;
$bg-blue-2: #7eaace;
$bg-blue-3: #005aa7;
$bg-blue-4: #618eb4;

$bg-pink-1: #e773a8;

// Border 색상
$bor-gray-1: #cecece;

//줄간격
$lh-1: 1.5;
$lh-2: 1.6;
$lh-3: 1.3;

//공통 요소
