@charset "utf-8";

// bourbon 믹스인
// @import "../bourbon/bourbon";
// Scss 변수(Variables: $)
@import "./variables";
// Scss 반복문(loop)
@import "./loop";
// Scss 믹스인(Mixins)
@import "./mixins";

@import url(http://cdn.rawgit.com/hiun/NanumSquare/master/nanumsquare.css);
//@import url(http://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(http://static.go.co.kr/css/faq-v1.1.css);

/*공통스타일*/
%centerThis {
	width: 1000px;
	margin: 0 auto;
}
%clearfix {
	&::after {
		content: "";
		display: block;
		clear: both;
		*zoom: 1;
	}
}
%va-middle {
	display: inline-block;
	vertical-align: middle;
}
%split {
	position: relative;
	float: left;
}
%weather-style-1 {
	z-index: 99;
	position: absolute;
	width: 1180px;
	top: 75px;
	left: 50%;
	margin-left: -600px;
	.area {
		position: absolute;
		right: 5px;
		height: 96px;
		padding-left: 20px;
		box-sizing: border-box;
		[class*=s-] {
			display: block;
			color: #fff;
			font-size: 20px;
		}
		.inner {
			position: relative;
			float: right;
		}
		img {
			position: relative;
			float: right;
		}
		.s-1 {
			line-height: 1;
		}
		.s-2 {
			margin-top: 3px;
			font-weight: 700;
			.t-1 {
				position: relative;
				top: -1px;
			}
		}
		.s-3 {
			font-size: 30px;
			.big {
				font-size: 44px;
			}
			.c {
				font-family: "Noto Sans KR";
			}
		}
	}
}