@charset "utf-8";

// common
@import "parts/common";

// Scss 한줄 주석
// css 코드로 변경될 때, 해석되지 않습니다.
/* Scss 여러줄 주석 CSS 코드로 변경될 때, 해석됩니다. */

/*----------------
	콘텐츠 시작
------------------*/
/*메인 비주얼*/
.cont-visual {
	.visual {
		width: 100%;
		.slide {
			width: 100%;
			height: 863px;	
			&.slide-1 {
				background: url(http://design.autopay.co.kr/joon/koresco-chiak/main/visual_1.jpg) no-repeat center;	
			}
			&.slide-2 {
				background: url(http://design.autopay.co.kr/joon/koresco-chiak/main/visual_2.jpg) no-repeat center;	
			}
			figure {
				position: relative;
				img {
					display: block;
				}
				figcaption {
					text-shadow: 3px 3px 2px rgba(0,0,0, .25);
					display: block;
					margin-top: 330px;
					text-align: center;
					position: absolute;
					top: 0;
					color: #fff;
					top: 6px; opacity: 0; visibility: hidden;
					-webkit-transition: all 1s 0.2s;
					-ms-transition: all 1s 0.2s;
					-o-transition: all 1s 0.2s;
					transition: all 1s 0.2s;
					.p-1 {
						font-size: 26px;
					}
					.p-2 {
						font-size: 60px;
					}
					.p-3 {
						font-size: 21px;
						margin-top: 20px;
					}
					.btn-non {
						display: inline-block;
						padding: 3px 8px;
						font-size: 16px;
						cursor: default;
						background: $bg-blue-1;
						margin-top: 10px;
					}
				}
			}
			&.active {
				figcaption {
					top: -6px;
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
} 
/*객실 / 부대시설 안내*/
%btn-type {
	position: relative;
	display: inline-block;
	background: $bg-blue-2;
	color: #fff;
	font-size: 16px;
	padding: 0px 18px;
	line-height: 2.3;
	& .rArrow::after {
		border-color: #fff;
	}
}
.cont-guide {
	padding: 30px 0;
	h3 {
		font-size: 14px;
		color: #838383;
		border-bottom: 1px solid #cdcdcd;
		padding-bottom: 8px;
		margin-bottom: 18px;
		* {
			@extend %va-middle;
		}
		strong {
			font-size: 24px;
			color: $fg-blue-2;
			letter-spacing: 0;
		}
		.s-1 {
			position: relative;
			top: -1px;
			.dot-l {
				position: relative;
				width: 2px;
				height: 10px;
				top: -1px;
				text-indent: -9999px;
				background: #a9a9a9;
				background: #cbcbcb;
				margin: 0 10px;
			}
		}
	}
	.split {
		position: relative;
		float: left;
		box-sizing: border-box;
		&.left {
			width: 610px;
			padding-right: 10px;
		}
		&.right {
			width: 390px;
			padding-left: 10px;
			figure > img {
				height: 100%;
				max-width: none;
				&.facil-1 {
					position: relative;
					left: -60px;
				}
			}
		}
		.half {
			width: 50%;
			float: left;
			box-sizing: border-box;
			&.type-a {
				padding-right: 10px;
			}
			&.type-b {
				padding-left: 10px;
			}
			.btn-detail {
				@extend %btn-type;
				position: absolute;
				bottom: 0;
				right: 0;
			}
			figure {
				height: 200px;
				overflow: hidden;
				& + .row {
					margin-top: 15px;
				}
			}
		}
	}	
}